<%= render 'navbar_pets' %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Ficha de mascota:</h3>
  </div>
  <div class="panel-body">
    Nombre: <%= @pet.nombre %><br />
    Dueño:
  </div>
</div>





<%= link_to 'Editar', edit_user_pet_path(@user) %> |

<%= link_to 'Volver', user_pets_path %>
